<form class="filters-container" [formGroup]="form" role="search">
  <div class="filters-grid">
    <div class="filter-group">
      <label for="nameContains">Name</label>
      <input
        id="nameContains"
        name="nameContains"
        type="text"
        placeholder="Contains…"
        formControlName="nameContains"
      />
    </div>

    <div class="filter-group">
      <label for="supermarketContains">Supermarket</label>
      <input
        id="supermarketContains"
        name="supermarketContains"
        type="text"
        placeholder="Contains…"
        formControlName="supermarketContains"
      />
    </div>

    <div class="filter-group">
      <label for="notesContains">Notes</label>
      <input
        id="notesContains"
        name="notesContains"
        type="text"
        placeholder="Contains…"
        formControlName="notesContains"
      />
    </div>

    <div class="filter-group">
      <label for="priceEquals">Price equals to</label>
      <input
        id="priceEquals"
        name="priceEquals"
        type="number"
        inputmode="decimal"
        step="0.1"
        min="0"
        placeholder="Equals to…"
        formControlName="priceEquals"
      />
    </div>

    <div class="filter-group price-range-group">
      <label>Price range</label>
      <div class="price-range">
        <input
          id="priceMin"
          name="priceMin"
          type="number"
          inputmode="decimal"
          step="0.1"
          min="0"
          placeholder="Min"
          formControlName="priceMin"
        />

        <span>-</span>
        <input
          id="priceMax"
          name="priceMax"
          type="number"
          inputmode="decimal"
          step="0.1"
          min="0"
          placeholder="Max"
          formControlName="priceMax"
        />
      </div>
    </div>

    <div class="filter-actions">
      <button type="button" (click)="onReset()">Reset</button>
    </div>
  </div>
</form>
