:host {
  --border-color: #e2e8f0;
  --light-bg: #f8fafc;
  --dark-text: #1e293b;
  --primary-blue: #2563eb;
  --primary-hover: #1d4ed8;
}

* {
    box-sizing: border-box;
}

.filters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.25rem;
  align-items: end;
}

.filters-container {
  padding: 1.5rem;
  background: white;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-group label {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--dark-text);
    margin-left: 2px;
}

.filter-group input {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--light-bg);
    color: var(--dark-text);
    transition: all 0.4s;
}

.filter-group input:focus {
    outline: none;
    background-color: white;
    border-color: var(--border-color);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.price-range-group .price-range{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-actions button {
    width: 100%;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--primary-blue);
    color: white;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.filter-actions button:hover {
    background-color: var(--primary-hover);
    transform: translateY(-1px);
}

