<form [formGroup]="form" (ngSubmit)="onSubmit()" class="item-form">
    @for (field of fields; track field.key) {
    <mat-form-field [appearance]="'outline'">
      <mat-label>{{ field.label }}</mat-label>

      @if (field.type === 'textarea') {
      <textarea matInput rows="3" [formControlName]="field.key"></textarea>
      } @else {
      <input
        matInput
        [type]="field.type || 'text'"
        [formControlName]="field.key"
        [min]="field.min ?? null"
        [step]="field.step ?? null"
      />
      } @if (form.get(field.key)?.touched &&
      form.get(field.key)?.hasError('required')) {
      <mat-error>{{ field.label }} is required </mat-error>
      } @if (field.key === 'price' && form.get('price')?.touched &&
      form.get('price')?.hasError('min')) {
      <mat-error>Price cannot be negative</mat-error>
      }
    </mat-form-field>
    }

    <div class="actions">
        <button class="cancel-button" mat-raised-button type="button" (click)="onCancel()">{{ cancelLabel }}</button>
        
        <button class="submit-button" mat-raised-button color="primary" type="submit" [disabled]="form.invalid || disableSubmit"
        >{{ submitLabel }}</button>
    </div>
</form>
